<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>There are errors.</h2>

      <% @blog.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>

    </div>
  <% end %>
  <div class="blog_tweet">
    <%= form.text_field :tweet %>
  </div>
  <%= form.submit 'tweet'%>
<% end %>
