<%= form_with(model: @blog, local: true ,url: confirm_blogs_path) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>There are errors.</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_tweet">
    <%= form.label :tweet %>
    <%= form.text_field :tweet %>
  </div>
  <%= form.submit 'post'%>
<% end %>
<%= link_to "tweets", blogs_path %>
