<h3>Send with the following contents.</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :tweet %>
  <p><%= @blog.tweet %></p>
  <%= form.submit  "tweet" %>
  <%= form.submit "return", name: 'back' %>
<% end %>
